.clicktargetDemo {
  .textOverlayTop {
    color: #2e579e;
    position: fixed;
    max-width: 50%;
    top: 0;
    left: 0;
    padding: 30px 60px;
    h1 {
      font-size: 42px;
    }
  }
  .infoOverlayContainer {
    position: fixed;
    left: 60%;
    top: 30%;
  }
  #canvas-container {
    z-index: -1;
    position: fixed;
    width: 60%;
    height: 100%;
  }
}
