.objectDemoRft {
  .textOverlayTop {
    color: #2e579e;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 60px;
    h1 {
      font-size: 42px;
    }
  }
  .textOverlayBottom {
    color: #2e579e;
    padding: 30px 60px;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #canvas-container {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
