.scrollAnimationDemo {
  width: 1240px;
  margin: 0 auto;

  #canvas-container {
    z-index: 1;
    position: fixed;
    width: inherit;
    div {
      height: 933px  !important;
    }
  }

  .heading {
    height: 760px;
    background: url("../../public/assets/images/header-bg.png")  no-repeat;
    text-align: left;
    

    img {
      position: absolute;
      z-index: -1;
      width: 1240px;
    }

    h1.bc {
      display: block;
      //position:absolute;
      //top: 0px;
      //left: 20px;
      margin-left: 0;
      font-family: 'BentonSansF', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      padding-top: 4rem;
      padding-left: 5rem;
    }


    h2.display{
      display: block;
      //position:absolute;
      //top: 80px;
      // left: 20px;
      margin-left: 0;
      width: 71%;
      font-style: normal;
      font-weight: 300;
      font-size: 60px;
      line-height: 72px;
      color: #fff;
      padding: 2rem 0 0 5rem;
    }

    h1, h2, p {
      color: white;
      //max-width: 40%;
    }

    p {
      position: relative;
      left: 59%;
      margin: 0 1rem 1.2rem;
      max-width: 35.5%;
    }
  }

  .sections {
    padding-left: 55%;
  }
  .section {
    padding: 10rem  0;
    width: 85%;

    .selected-text {
      position: absolute;
      max-width: 25%;
    }
    &:last-child {
      padding-bottom: 20rem;
    }
  }

  .closing {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .decription {
      padding: 5rem;
      color: #FFF;
      //grid-column: span 6;
      justify-self: start;
      h3 {
        font-size: 24px;
        line-height: 24px;
      }
    }
    .feature {
      //grid-column: span 6;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
  }
}
